## Python Basic Operations

In [1]:
print(123)

123

In [2]:
print(56.8)

56.8

In [3]:
print('Hello World!')

Hello World!

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [5]:
print('Mars','Earth')

Mars Earth

In [7]:
print('Mars','Earth', sep=',')

Mars,Earth

In [8]:
print('Mars','Earth')
print('Jupiter')

Mars Earth
Jupiter

In [9]:
print('Mars','Earth', end=' ')
print('Jupiter')

Mars Earth Jupiter

In [10]:
''' 
This is my first variable
Variable name is empName
'''
empName = 'Ram'

In [11]:
#Access Variable empName
print(empName)

Ram

In [12]:
X = 10
print(X)

10

In [13]:
print(X)

10

In [14]:
X

10

### Operators Example

In [15]:
x = 6
y = 4

In [16]:
#Addition operation
print(x+y)

10

In [17]:
#Division operation
print(x/y)

1.5

In [18]:
#Floor Division operation
print(x//y)

1

In [19]:
#Modulus operation
print(x%y)

2

In [20]:
#Multiplication operation
print(x*y)

24

In [21]:
'''
Assinment Operators
Operation: Value assignment
'''
a = 12

In [22]:
# add the current variable value by 5
a += 5

In [23]:
print(a)

17

In [24]:
#Comparision operator
print(x<y)

False

In [25]:
print(x>y)

True

In [26]:
print(1+2)
print('a' + 'b') #concatenation operation

3
ab

In [27]:
print('1' + '2')

12

In [28]:
'a' + 'b'

'ab'

In [33]:
#Identity operation
2 is 2.0

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-33-dacdb8da54ab>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2.0

False

In [34]:
#Membership Operator
4 in [1,2,3,4,5]

True

In [35]:
7 in [1,2,3,4,5]

False

In [36]:
#Logical Operator
print(2>4 and 7>6)

False

In [37]:
#Logical Operator
print(2>4 or 7>6)

True

### Basic Data Type
#### Numeric

In [38]:
#integer
x = 10
print(x)

10

In [39]:
type(x)

int

In [40]:
#float
y = 12.5
type(y)

float

#### Boolean

In [41]:
z = True
type(z)

bool

In [42]:
type(24>20)

bool

In [43]:
op = 24 > 20

In [44]:
op

True

In [45]:
type(op)

bool

#### Sequence

In [46]:
#String
a = 'Hello'

In [47]:
type(a)

str

In [48]:
#List
myList = ['Hi',11,12.5,True]
print(myList)

['Hi', 11, 12.5, True]

In [49]:
type(myList)

list

In [50]:
myList[2]

12.5

In [51]:
myList[0]

'Hi'

In [52]:
#Tuple
myTuple = ("Red","Green","Blue")

In [53]:
print(myTuple)

('Red', 'Green', 'Blue')

In [54]:
type(myTuple)

tuple

In [55]:
myTuple[1]

'Green'

In [56]:
type(myTuple[1])

str

#### Mutability and Immutability

In [57]:
#List is mutable
myList

['Hi', 11, 12.5, True]

In [58]:
myList[0]

'Hi'

In [59]:
myList[0] = 'Hello'

In [60]:
myList

['Hello', 11, 12.5, True]

In [61]:
#Tuple is immutable
myTuple

('Red', 'Green', 'Blue')

In [62]:
myTuple[1] = 'Yellow'

TypeError: 'tuple' object does not support item assignment

#### Dictionary

In [63]:
#Key:Value pair
myDict = {'name':'Ram', 'age':21}
myDict

{'name': 'Ram', 'age': 21}

In [64]:
type(myDict)

dict

In [65]:
myDict['name']

'Ram'

In [66]:
myDict['age']

21

In [67]:
#Multiple value within a key
myDictMul = {'name':['Ram','Hari'],'age':[24,26]}
myDictMul

{'name': ['Ram', 'Hari'], 'age': [24, 26]}

In [68]:
myDictMul['name']

['Ram', 'Hari']

In [69]:
myDictMul['name'][0]

'Ram'

In [70]:
myDictMul['name'][1]

'Hari'

In [71]:
myDictMul['name'][1] = 'Lisa'

In [72]:
myDictMul

{'name': ['Ram', 'Lisa'], 'age': [24, 26]}

In [73]:
myStr = 'Hello'

In [74]:
myStr

'Hello'

In [75]:
myStr[0]

'H'

In [76]:
myStr[1]

'e'

### Type Casting

In [80]:
a = 12
b = '15'

In [81]:
a + int(b)

27

In [82]:
str(a) + b

'1215'

In [83]:
float(a)

12.0

In [84]:
a

12

In [85]:
c = float(a)

In [86]:
c

12.0

In [87]:
#char to int
s = 'a'
ord(s)

97

In [89]:
#int to ascii
chr(97)

'a'

In [90]:
#getting the hexadecimal
hex(11)

'0xb'

In [91]:
myList

['Hello', 11, 12.5, True]

In [93]:
tuple(myList)

('Hello', 11, 12.5, True)

In [94]:
tupKeyValue = (('1','a'),('2','b'))
tupKeyValue

(('1', 'a'), ('2', 'b'))

In [95]:
dict(tupKeyValue)

{'1': 'a', '2': 'b'}

#### Basic String Operations

In [96]:
name = 'Ram'

In [97]:
name.upper()

'RAM'

In [98]:
name.lower()

'ram'

In [99]:
name = 'Hello Ram'

In [100]:
name

'Hello Ram'

In [101]:
name.replace('Ram','Shradha')

'Hello Shradha'

In [102]:
name = 'Ram '

In [103]:
name.strip()

'Ram'

In [104]:
name = input('Enter your name: ')
print(name)

Enter your name: Swarup
Swarup

In [105]:
type(name)

str